{% extends "firstapp/base.html" %}

{% block title %}О компании{% endblock %}
{% block header %}Сведения о компании{% endblock %}
{% block content %}
<div>
    <p>
        Компания "Интеллектуальные информационные системы".
Наша компания занимается разработкой приложений,
Основанных на системах компьтерного зрения
и искуссвтенного интеллекта, кросс-платформенных настольных
мобильных приложений, а также веб-приложений
с использованием языка программирования Python.
Это содержимое блока content. Этот текст находится на about.html, 
но он вставлен в базовый шаблон - base.html, в блок с именем context.
    </p>
</div>

<p>Примеры вывода даты и времени:</p>
<div class="container-fluid text-start">
<li>Год из четырех цифр - {% now "Y" %}</li>
<li>Год в виде последних двух цифр - {% now "y" %} </li>
<li>Полное название месяца - {% now "F" %} </li>
<li>Сокращенное название месяца - {% now "M" %} </li>
<li>Номер месяца, две цифры - {% now "m" %} </li>
<li>Аббревиатура месяца - {% now "N" %}</li>
<li>Номер месяца одна цифра - {% now "n" %} </li>
<li>День месяца - {% now "j" %}</li>
<li>День недели - {% now "l" %}</li>
<li>Часы (0-12) - {% now "h" %}</li>
<li>Часы (0-24) - {% now "H" %}</li>
<li>Минуты (0-59) - {% now "i" %}</li>
<li> Секунды (0-59) - {% now "s" %}</li>
<li>Дата (День/месяц/год) - {% now "j/m/Y" %}</li>
<li>Время (часы:мин:сек) - {% now "H:i:s" %}</li>
</div>
{% endblock %}