<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Логотип и зоголовок сайта</h1>
    <h4>
        <a href="{% url "index" %}">Главная страница</a>
        <a href="{% url "about" %}">О компании</a>
        <a href="{% url "contact" %}">Контакты</a>
    </h4>
    <div>{% block header %}{% endblock %}</div>
    <div>{% block content %}{% endblock %}</div>
    <h5>Подвал (footer) сайта</h5>
</body>
</html>