<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Передача сложных данных</title>
</head>
<body>
    <h1>{{header}}</h1>
    <li>{{value_num|add:"2"}}</li>
    <li>{{value_date|date:"D d M Y"}}</li>
    <li>{{value_time|time:"H:i"}}</li>
    <li>{{value_title|title}}</li>
    <li>{{value_upper|upper}}</li>
    <style>h1{color: green;}</style>
    <p style="color: red;">Этот текст красного цвета!</p>
</body>
</html>